@charset "UTF-8";
/* title animation */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --kmong-yellow: #F7E400;
    --kmong-color: #1F2123;
    --bg: #F5F5F0;
}

body {
    font-family: 'Noto Sans KR', 'Open Sans', 'Jua', 'Bebas Neue', sans-serif;
    line-height: 1.3;
    font-weight: 400;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg); /* 초기 진입 시 바로 적용되도록 */
    color: #333;
    transition: background-color 0.4s ease, color 0.4s ease;
    overflow-x: hidden;
}

dl, ol, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 12px 0;
    background: transparent;
}

.innerHeader {
    transition: all 0.3s cubic-bezier(.46, .03, .52, .96);

}

.innerHeader .logo {
    width: 150px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1rem;
    height: auto;
    position: relative;
}

.innerHeader .logo img {
    width: 100%;

    transition: all 0.3s cubic-bezier(.46, .03, .52, .96);
}

.dark {
    color: #555;
}

.gnb a {
    padding: 0.5em 1.2em;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    border-radius: 16px;
    color: #fff;
    transition: all 0.3s;
    display: flex;
    align-items: center;
}

.gnb a img {
    width: 25px;
    margin-right: 4px;
}

a.kmong {
    background: #F7E400;
    color: #1F2123;
    font-weight: 700;

}

a.site {
    background: #0075C2;

}

/* 픽스해더 영역 */


.point {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.work {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

.card {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 9px 15px 20px 2px rgba(0, 0, 0, 0.1);
}

.section1 {
    width: 100%;
    height: 100vh;
    position: relative;

}

.main-text {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 9.5vw;
    line-height: .8;
    letter-spacing: -.07em;

}

.reveal-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    top: 60px;
}

.section1 .reveal1 {
    visibility: hidden;
    width: 60%;
    /*bottom: 0;*/
    /*position: absolute;*/
    overflow: hidden;
    /*left: 0;*/
    /*top: 0;*/
    min-width: 600px;
}

.section1 .reveal1 img {

    width: 100%;
    object-fit: cover;
    transform-origin: left;
}

.section1 .reveal2 {
    visibility: hidden;
    position: absolute;
    width: 15%;
    aspect-ratio: 9/16;
    overflow: hidden;
    left: 50%;
    bottom: 4vw;

}

.section1 .reveal2 img {
    width: 100%;
    object-fit: cover;
    transform-origin: right;
}

.template-text {
    text-align: center;
    margin-top: 80px;
}

.section1 .contents {
    font-size: 32px;
    position: absolute;
    right: 2%;
    letter-spacing: -2px;
    bottom: 1vw;
}

.section1-mobile {
    width: 100%;
    height: auto;
}


.pSection {
    position: relative;
    padding-top: 50%;
    padding-bottom: 35%;
    height: 100%;
    overflow: hidden;
}

.pContent {
    padding-left: 4vw;
    position: relative;
    top: -20vw;
}

.pContent .main-text {
    font-size: 15vw;
}

.pSection .main-text span {
    display: block;
}

.pContent .contents {
    letter-spacing: -2px;
    font-size: 2.8vw;
}


.pImage {
    width: 33vw;
    position: absolute;
    top: 0;
    right: 5%;
    aspect-ratio: 9/16;
    /*max-width: 300px;*/
    border-radius: 8px;
    overflow: hidden;
    max-width: 320px;

}

.pImage img {
    width: 100%;

    object-fit: cover;
    transform-origin: left;
}

.pContent,
.pImage {
    opacity: 0;
    transform: translateX(0); /* JS에서만 xPercent 주고 CSS는 0으로 둠 */
    will-change: transform, opacity;
}
.section1-mobile{
    display: none;
}
.title {
    width: 100%;

    font-size: 7.2916666667vw;
    text-align: center;

    flex-direction: column;
    line-height: 0.8;
    letter-spacing: -3px;
}

.section2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-text {
    padding: 200px 0;
    overflow-x: hidden;
}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    display: inline-block;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    opacity: 1;
}

/* 일반 데스크탑 */
@media (min-width: 1440px) and (max-width: 1919px) {
    .section1 .reveal1 {
        width: 70vw;
    }

    .section1 .contents {
        font-size: 28px;
        text-align: right;
    }

    .section1 .reveal2 {
        width: 18vw;
    }
}

/* 노트북 / 소형 데스크탑 */
@media (min-width: 1025px) and (max-width: 1439px) {
    .section1 .contents {
        font-size: 2vw;
        text-align: right;
    }

    .section1 .reveal1 {
        width: 70vw;
    }

    .section1 .reveal2 {
        width: 18vw;
        left: 50vw;
    }

    .gnb a {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {

    .innerHeader .logo {
        width: 120px;
    }

    .portfolio-text {
        padding:10vw 0;
    }

    .portfolio-img {
        aspect-ratio: 16/9;
        /*min-width: 320px;*/
        margin: 0 auto;
    }

    .section2 .portfolio-img img {
        height: auto;
    }

    .gnb a {
        padding: 0.3em 0.8em;
        font-size: 14px;
        border-radius: 8px;
    }

    .title {
        font-size: 11vw;
    }

    .portfolio-img:hover .img-default {
        opacity: 0 !important;
    }

    .portfolio-img:hover .img-hover {
        opacity: 1 !important;
    }
    .section1-pc {
        display: none;
    }
    .section1-mobile{
        display: block;
    }
}



/* 일반 모바일 */
@media (max-width: 767px) {
    .pSection {
        position: relative;
        padding-top: 50%;
        padding-bottom: 50%;
        height: 100%;
        overflow: hidden;
    }

    .pContent {
        padding-left: 4vw;
        position: relative;
        top: 0;
    }

    .pContent .main-text {
        font-size: 15vw;
    }

    .pSection .main-text span {
        display: block;
    }

    .pContent .contents {
        letter-spacing: -2px;
        font-size: 14px;
    }
    .pImage {
        width: 33vw;
        top: 21vw;
        right: 3vw;

        max-width: 320px;

    }
}



.section2 .portfolio-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.6s;
}

.section2 .portfolio-img img:nth-child(1) {
    opacity: 1;
}

.section2 .portfolio-img img:nth-child(2) {
    transform: translateY(-100%);
    opacity: 0;
}


.section3 {
    --target: 100%;
    width: 100%;
    background: linear-gradient(to right, var(--kmong-color) var(--target), #FAF8F5 var(--target));
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease-out;
}

.section3 p {

    color: white;
    font-size: clamp(2.5rem, 8vw, 6rem);
    text-align: center;
    letter-spacing: -0.02em;
    background: linear-gradient(to right, #FAF8F5 var(--target), var(--kmong-color) var(--target));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    display: block;
    line-height: 0.95;
    position: relative;
}

.section3 p span {
    font-family: "Open Sans", sans-serif;
    font-size: 0.5em;
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
}

.section3 p a {
    display: inline-block;
    color: inherit; /* 텍스트 색 유지 (그라디언트 텍스트 적용 시) */
    text-decoration: none;
    overflow: hidden;
    font-size: 1.2em;
}

.section3 p a::after {
    content: "";
    position: absolute;
    bottom: -6px; /* 텍스트와 간격 조절 */
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    height: 3px;
    background-color: var(--kmong-yellow); /* 노란색 */
    transition: width 0.3s ease;
}

.section3 p a:hover::after {
    width: 30%;
}


.pinned-carousel {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    will-change: transform;
    padding-right: 100px;
}

.swiper-slide {
    width: 350px;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
}

.swiper-slide a {
    width: 100%;
    aspect-ratio: 9/16;
    display: inline-block;
    border-radius: 10px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*.swiper-slide img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    border-radius: 12px;*/
/*}*/





